<!-- Profile card skeleton loader -->
<div class="animate-pulse flex flex-row ml" style="margin-left: 13.5vw; margin-top: 10vh; max-width: 80vw; justify-self: center;">
  <!-- Avatar skeleton -->
  <div class="w-60 h-60 bg-gray-200 rounded-full ml-60 mr-4"></div>
  <!-- Profile info skeleton -->
  <div class="flex flex-col ml-10">
    <div class="h-8 bg-gray-200 rounded mb-2 w-92"></div>
    <div class="h-4 bg-gray-200 rounded mb-2 w-72"></div>
    <div class="h-4 bg-gray-200 rounded mb-2 w-72"></div>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-0 ml-40 mt-20" style="width: 100vw">
  <div class="p-4 my-5 rounded-sm animate-pulse">
    <!-- Repo name skeleton -->
    <div class="h-6 bg-gray-200 rounded mb-2 w-80"></div>
    <!-- Repo description skeleton -->
    <div class="h-8 bg-gray-200 rounded mb-2 w-96"></div>
    <!-- Language badge skeleton -->
    <div class="h-4 bg-gray-200 rounded w-64"></div>
  </div>
  <div class="p-4 my-5 rounded-sm animate-pulse">
    <!-- Repo name skeleton -->
    <div class="h-6 bg-gray-200 rounded mb-2 w-80"></div>
    <!-- Repo description skeleton -->
    <div class="h-8 bg-gray-200 rounded mb-2 w-96"></div>
    <!-- Language badge skeleton -->
    <div class="h-4 bg-gray-200 rounded w-64"></div>
  </div>
</div>

