<form (submit)="getProfile()" class="max-w-md mx-auto pt-9">
  <label
    for="default-search"
    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
    >Search</label
  >
  <div class="relative">
    <div
      class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
    >
      <svg
        class="w-4 h-4 text-gray-500 dark:text-gray-400"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
        />
      </svg>
    </div>
    <input
      [(ngModel)]="searchUser"
      name="user"
      type="search"
      id="default-search"
      class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Enter Github Username"
      required
    />
    <button
      type="submit"
      class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-black dark:hover:bg-gray-800 dark:focus:ring-blue-800"
    >
      Search
    </button>
  </div>
</form>

<div *ngIf="loading">
  <app-skeleton-loader></app-skeleton-loader>
</div>

<div *ngIf="!loading" id="main" class="flex flex-col min-h-screen">
  <div class="flex-grow flex-col px-8 py-4">
    <div class="flex flex-row items-center justify-center mb-4">
      <app-profile [profile]="profile"></app-profile>
    </div>

    <!-- Repos per page selection -->
    <div class="flex justify-between items-center mb-4" style="justify-content: center;">
      <label for="reposPerPage" class="mr-2">Repositories per page:</label>
      <select
        id="reposPerPage"
        [(ngModel)]="perPage"
        (change)="onPerPageChange(perPage)"
        class="border rounded px-2 py-1"
      >
        <option *ngFor="let size of [10, 20, 50, 100]" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>

    <div class="flex flex-wrap justify-evenly text-sm my-4">
      <app-profile-repos [repos]="repos"></app-profile-repos>
    </div>
    <!-- Pagination controls -->
    <div class="flex justify-evenly items-center">
      <button
        (click)="onPageChange(page - 1)"
        [disabled]="page === 1"
        class="mr-2 bg-gray-300 text-gray-700 px-4 py-2 rounded disabled:opacity-50"
      >
        <<
      </button>
      <span>{{ page }}</span>
      <button
        (click)="onPageChange(page + 1)"
        [disabled]="isLastPage"
        class="ml-2 bg-gray-300 text-gray-700 px-4 py-2 rounded disabled:opacity-50"
      >
        >>
      </button>
    </div>
  </div>
</div>
